<div class="table">
    <div class="table__header">
        <span class="table__title">Event Table</span>
    </div>
    <div class="table__head-row">
        <span class="table__head-cell table__head-cell--col1">Time</span>
        <span class="table__head-cell table__head-cell--col2">Target</span>
        <span class="table__head-cell table__head-cell--col3">Category</span>
        <span class="table__head-cell table__head-cell--col4">Status</span>
        <span class="table__head-cell table__head-cell--col5">Value</span>
    </div>
    <div class="table__body"></div>

    <template id="table-row-template">
        <div class="table__row" data-rowid="">
            <span class="table__cell table__cell--col1"></span>
            <span class="table__cell table__cell--col2"></span>
            <span class="table__cell table__cell--col3"></span>
            <span class="table__cell table__cell--col4"></span>
            <span class="table__cell table__cell--col5"></span>
        </div>
    </template>
</div>
