<section class="list-shell">
  <div class="list" role="list" aria-label="Interactive list"></div>

  <template id="list-item-template">
    <article
      class="list-item"
      role="button"
      tabindex="0"
      data-id=""
      data-selected="false"
      data-disabled="false"
      data-selectable="true"
    >
      <span class="list-item__leading" data-leading-type="none" aria-hidden="true"></span>
      <span class="list-item__body">
        <span class="list-item__overline"></span>
        <span class="list-item__headline"></span>
        <span class="list-item__supporting"></span>
      </span>
      <span class="list-item__trailing">
        <span class="list-item__trailing-text"></span>
        <button class="list-item__trailing-action" type="button" aria-label=""></button>
      </span>
    </article>
  </template>
</section>
