<article class="card-swipe card-swipe--refined" data-revealed-side="none" data-swiping="false">
    <div class="card-swipe__actions card-swipe__actions--left">
        <button class="card-swipe__action" type="button" data-actionid="pin">Pin</button>
    </div>
    <div class="card-swipe__actions card-swipe__actions--right">
        <button class="card-swipe__action" type="button" data-actionid="archive">Archive</button>
    </div>
    <div class="card-swipe__face">
        <span class="material-symbols-outlined card-swipe__icon">info</span>
        <div class="card-swipe__content">
            <h3 class="card-swipe__title">-</h3>
            <p class="card-swipe__summary">-</p>
        </div>
    </div>
</article>
