<!-- 01_standard: 세로 리스트 (다크 테마, 레벨 인디케이터) -->
<div class="data-list">
    <div class="data-list__container"></div>

    <template class="data-list__template">
        <div class="data-list__item" data-level="">
            <div class="data-list__level-bar"></div>
            <div class="data-list__content">
                <div class="data-list__row">
                    <span class="data-list__title"></span>
                    <span class="data-list__time"></span>
                </div>
                <span class="data-list__desc"></span>
            </div>
        </div>
    </template>
</div>
