<div class="status-card">
    <div class="status-card__header">
        <span class="status-card__title">-</span>
        <span class="status-card__status" data-status="">-</span>
    </div>
    <div class="status-card__body">
        <div class="status-card__field">
            <span class="status-card__label">Version</span>
            <span class="status-card__version">-</span>
        </div>
        <div class="status-card__field">
            <span class="status-card__label">Uptime</span>
            <span class="status-card__uptime">-</span>
        </div>
    </div>
</div>
