<div class="speed-dial speed-dial--operational" data-speed-dial-state="closed">
  <div class="speed-dial__items"></div>
  <button class="fab" type="button" aria-label="Execute" data-size="fab">
    <span class="fab__icon material-symbols-outlined">bolt</span>
  </button>
  <template id="speed-dial-item-template">
    <button class="speed-dial__item" type="button" data-action-id="">
      <span class="speed-dial__item-icon material-symbols-outlined"></span>
      <span class="speed-dial__item-label"></span>
    </button>
  </template>
</div>
