<div class="time-trend-chart">
    <!-- Header -->
    <div class="header">
        <div class="title">
            <img class="title-icon" src="./assets/icon.svg" alt="icon">
            <span class="title-text">시간대별 거래추이</span>
        </div>
        <div class="action-buttons">
            <div class="btn btn-active" data-filter="전체">전체</div>
            <div class="btn btn-inactive" data-filter="상품">상품</div>
            <div class="btn btn-inactive" data-filter="1Q">1Q</div>
        </div>
    </div>

    <!-- Container -->
    <div class="container">
        <div class="contents">
            <!-- Date Row -->
            <div class="date-row">
                <div class="date-box">
                    <span class="date-label">PEAK일</span>
                    <span class="date-value" data-peak-date>2025/08/05</span>
                </div>
            </div>

            <!-- ECharts Container (includes legend) -->
            <div class="chart-area" id="echarts"></div>
        </div>
    </div>
</div>
