<div class="input-chip">
    <div class="input-chip__list"></div>
    <template id="input-chip-item-template">
        <div class="input-chip__item" data-chipid="">
            <span class="input-chip__label"></span>
            <button class="input-chip__remove" type="button" aria-label="Remove">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path d="M3.5 3.5L10.5 10.5M10.5 3.5L3.5 10.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </button>
        </div>
    </template>
</div>
