<div class="input-chip">
    <div class="input-chip__list"></div>
    <template id="input-chip-item-template">
        <div class="input-chip__item" data-chipid="">
            <span class="input-chip__label"></span>
            <button class="input-chip__remove" type="button" aria-label="Remove">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
                    <path d="M3 3L9 9M9 3L3 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </button>
        </div>
    </template>
</div>
