<section class="card-sortable card-sortable--refined">
    <div class="card-sortable__list"></div>
    <template id="card-sortable-item-template">
        <article class="card-sortable__item" draggable="true">
            <span class="material-symbols-outlined card-sortable__handle">drag_indicator</span>
            <span class="material-symbols-outlined card-sortable__icon">bolt</span>
            <div class="card-sortable__content">
                <h3 class="card-sortable__title">-</h3>
                <p class="card-sortable__summary">-</p>
            </div>
        </article>
    </template>
</section>
