<div class="centered-slider centered-slider--refined" data-disabled="false">
  <div class="centered-slider__header">
    <span class="centered-slider__eyebrow">Ambient</span>
    <div class="centered-slider__title-row">
      <span class="centered-slider__label">Temperature bias</span>
      <output class="centered-slider__value">-2°</output>
    </div>
  </div>
  <div class="centered-slider__control">
    <div class="centered-slider__track">
      <div class="centered-slider__fill"></div>
      <div class="centered-slider__center-mark"></div>
    </div>
    <input class="centered-slider__native" type="range" min="-10" max="10" step="1" value="-2" />
  </div>
  <div class="centered-slider__scale">
    <span class="centered-slider__negative-label">Cooler</span>
    <span class="centered-slider__positive-label">Warmer</span>
  </div>
  <p class="centered-slider__supporting">Offset the baseline temperature target.</p>
</div>
