<div class="slider" data-disabled="false">
    <div class="slider__header">
        <label class="slider__label" for="slider-centered-input">-</label>
        <span class="slider__value-label">0</span>
    </div>
    <div class="slider__track">
        <div class="slider__track-inactive"></div>
        <div class="slider__track-center"></div>
        <div class="slider__track-active" style="left: 50%; width: 0%"></div>
        <input class="slider__input"
               id="slider-centered-input"
               type="range"
               min="-50"
               max="50"
               step="1"
               value="0"
               aria-label="centered slider">
    </div>
</div>
