<div class="centered-slider centered-slider--material" data-disabled="false">
  <div class="centered-slider__header">
    <span class="centered-slider__eyebrow">Voice</span>
    <div class="centered-slider__title-row">
      <span class="centered-slider__label">Prompt sentiment</span>
      <output class="centered-slider__value">+1</output>
    </div>
  </div>
  <div class="centered-slider__control">
    <div class="centered-slider__track">
      <div class="centered-slider__fill"></div>
      <div class="centered-slider__center-mark"></div>
    </div>
    <input class="centered-slider__native" type="range" min="-5" max="5" step="1" value="1" />
  </div>
  <div class="centered-slider__scale">
    <span class="centered-slider__negative-label">Neutral</span>
    <span class="centered-slider__positive-label">Expressive</span>
  </div>
  <p class="centered-slider__supporting">Nudge the tone without changing the template.</p>
</div>
