<div class="centered-slider centered-slider--operational" data-disabled="false">
  <div class="centered-slider__header">
    <span class="centered-slider__eyebrow">Calibration</span>
    <div class="centered-slider__title-row">
      <span class="centered-slider__label">Sensor trim</span>
      <output class="centered-slider__value">-1 dB</output>
    </div>
  </div>
  <div class="centered-slider__control">
    <div class="centered-slider__track">
      <div class="centered-slider__fill"></div>
      <div class="centered-slider__center-mark"></div>
    </div>
    <input class="centered-slider__native" type="range" min="-6" max="6" step="1" value="-1" />
  </div>
  <div class="centered-slider__scale">
    <span class="centered-slider__negative-label">Lower</span>
    <span class="centered-slider__positive-label">Higher</span>
  </div>
  <p class="centered-slider__supporting">Trim sensor output around the field-calibrated midpoint.</p>
</div>
