<section class="card-selectable card-selectable--operational" role="group" data-selected-count="0">
    <div class="card-selectable__list"></div>
    <template id="card-selectable-item-template">
        <article class="card-selectable__item" data-selected="false" aria-selected="false">
            <div class="card-selectable__check"><span class="material-symbols-outlined">done</span></div>
            <span class="material-symbols-outlined card-selectable__icon">tune</span>
            <div class="card-selectable__content">
                <h3 class="card-selectable__title">-</h3>
                <p class="card-selectable__summary">-</p>
            </div>
        </article>
    </template>
</section>
