<div class="range-slider range-slider--operational" data-disabled="false">
  <div class="range-slider__header">
    <span class="range-slider__eyebrow">Protection</span>
    <div class="range-slider__title-row">
      <span class="range-slider__label">Voltage tolerance</span>
      <output class="range-slider__value">208V - 232V</output>
    </div>
  </div>
  <div class="range-slider__control">
    <div class="range-slider__track">
      <div class="range-slider__fill"></div>
    </div>
    <input class="range-slider__input range-slider__input--lower" type="range" min="180" max="250" step="1" value="208" />
    <input class="range-slider__input range-slider__input--upper" type="range" min="180" max="250" step="1" value="232" />
  </div>
  <div class="range-slider__scale">
    <span class="range-slider__min-label">180V</span>
    <span class="range-slider__max-label">250V</span>
  </div>
  <p class="range-slider__supporting">Alert when incoming power exits the approved service band.</p>
</div>
