<div class="performance-status">
    <!-- Header -->
    <div class="header">
        <div class="header-top">
            <div class="title">
                <div class="icon">
                    <img src="assets/6e134c6c4f175a81f94018216584fd808a1b84b6.svg" alt="">
                </div>
                <span class="title-text">구간별 성능현황</span>
            </div>
            <div class="data">
                <div class="data-item data-count">
                    <p class="header-count">681</p>
                </div>
                <div class="data-item data-tps">
                    <p class="header-tps">16,959.0</p>
                </div>
                <div class="data-item data-response">
                    <p class="header-response">0.603</p>
                </div>
            </div>
        </div>
        <div class="legend">
            <div class="legend-item">
                <div class="legend-dot tps"></div>
                <p>TPS</p>
            </div>
            <div class="legend-item">
                <div class="legend-dot response"></div>
                <p>응답시간</p>
            </div>
        </div>
    </div>

    <!-- Container -->
    <div class="container">
        <!-- Items will be rendered dynamically -->
        <template id="item-template">
            <div class="item">
                <div class="cylinder-wrapper">
                    <div class="cylinder-img">
                        <img src="" alt="">
                    </div>
                </div>
                <p class="item-number"></p>
                <div class="item-label">
                    <p></p>
                </div>
                <div class="item-tps">
                    <p></p>
                </div>
                <div class="item-response">
                    <p></p>
                </div>
            </div>
        </template>
        <div class="items-container"></div>
    </div>
</div>
