<nav class="nav-drawer" data-open="true">
    <div class="nav-drawer__header">
        <span class="nav-drawer__title">Menu</span>
    </div>
    <div class="nav-drawer__list"></div>
    <template id="nav-drawer-item-template">
        <div class="nav-drawer__item" data-menuid="" data-active="">
            <span class="nav-drawer__icon material-symbols-outlined"></span>
            <span class="nav-drawer__label"></span>
            <span class="nav-drawer__badge"></span>
        </div>
    </template>
</nav>
