<div class="tree">
    <div class="tree__header">
        <span class="tree__title">Tree</span>
    </div>
    <div class="tree__list"></div>

    <template id="tree-node-template">
        <div class="tree__node" data-treeid="" data-depth="" data-expanded="" data-has-children="" data-selected="">
            <span class="tree__toggle">+</span>
            <span class="tree__leading"></span>
            <span class="tree__label"></span>
            <span class="tree__trailing"></span>
        </div>
    </template>
</div>
