<section class="list-inf">
  <div class="list-inf__outer" data-loading="false" data-no-more="false">
    <div class="list-inf__items" role="list" aria-label="Infinite scroll list"></div>
    <div class="list-inf__sentinel" aria-hidden="true"></div>
    <div class="list-inf__loading">Loading more…</div>
    <div class="list-inf__end">No more items</div>
  </div>

  <template id="list-inf-item-template">
    <article class="list-inf__item" role="listitem" data-itemid="">
      <span class="list-inf__leading"></span>
      <span class="list-inf__body">
        <strong class="list-inf__headline"></strong>
        <span class="list-inf__supporting"></span>
      </span>
    </article>
  </template>
</section>
