<div class="slider slider--refined" data-disabled="false">
  <div class="slider__header">
    <span class="slider__eyebrow">Cooling</span>
    <div class="slider__title-row">
      <span class="slider__label">Output level</span>
      <output class="slider__value">48%</output>
    </div>
  </div>
  <div class="slider__control">
    <div class="slider__track">
      <div class="slider__fill"></div>
    </div>
    <input class="slider__native" type="range" min="0" max="100" step="1" value="48" />
  </div>
  <div class="slider__scale">
    <span class="slider__min-label">0%</span>
    <span class="slider__max-label">100%</span>
  </div>
  <p class="slider__supporting">Match fan output to the active load.</p>
</div>
