<section class="list-swipedel">
  <div class="list-swipedel__items" role="list" aria-label="Swipe to delete list"></div>

  <template id="list-swipedel-item-template">
    <article class="list-swipedel__item" role="listitem" data-itemid="" data-swiping="false">
      <div class="list-swipedel__back">
        <span class="list-swipedel__back-icon list-swipedel__back-icon--left">delete</span>
        <span class="list-swipedel__back-icon list-swipedel__back-icon--right">delete</span>
      </div>
      <div class="list-swipedel__face" tabindex="0">
        <span class="list-swipedel__leading"></span>
        <span class="list-swipedel__body">
          <strong class="list-swipedel__headline"></strong>
          <span class="list-swipedel__supporting"></span>
        </span>
      </div>
    </article>
  </template>
</section>
