<div class="nav-drawer" data-drawer-state="closed">
    <div class="nav-drawer__overlay"></div>
    <nav class="nav-drawer__panel">
        <div class="nav-drawer__header">
            <span class="nav-drawer__title">Menu</span>
            <button class="nav-drawer__close">&times;</button>
        </div>
        <div class="nav-drawer__list"></div>

        <template id="nav-drawer-item-template">
            <div class="nav-drawer__item" data-menuid="" data-active="">
                <span class="nav-drawer__item-icon"></span>
                <span class="nav-drawer__item-label"></span>
            </div>
        </template>
    </nav>
</div>
