<article class="card-expandable card-expandable--refined" data-expanded="false">
    <button class="card-expandable__toggle" type="button" aria-label="Toggle details">
        <span class="material-symbols-outlined">expand_more</span>
    </button>
    <div class="card-expandable__header">
        <span class="material-symbols-outlined card-expandable__icon">info</span>
        <div class="card-expandable__copy">
            <p class="card-expandable__subhead">-</p>
            <h3 class="card-expandable__headline">-</h3>
        </div>
    </div>
    <p class="card-expandable__summary">-</p>
    <div class="card-expandable__details">
        <p class="card-expandable__details-text">-</p>
        <div class="card-expandable__actions">
            <button class="card-expandable__action" type="button">Inspect</button>
            <button class="card-expandable__action" type="button">Escalate</button>
        </div>
    </div>
</article>
