<div class="card">
    <div class="card__media">
        <span class="card__icon material-symbols-outlined"></span>
    </div>
    <div class="card__body">
        <div class="card__headline"></div>
        <div class="card__subhead"></div>
        <div class="card__supporting"></div>
    </div>
    <div class="card__actions"></div>
    <template id="card-action-template">
        <button class="card__action" data-actionid="">
            <span class="card__action-icon material-symbols-outlined"></span>
            <span class="card__action-label"></span>
        </button>
    </template>
</div>
