<div class="tree-checkbox-shell tree-checkbox-shell--editorial">
  <div class="tree-checkbox__list"></div>
  <template id="tree-checkbox-node-template">
    <div
      class="tree-checkbox__node"
      data-checked="false"
      data-indeterminate="false"
    >
      <button
        class="tree-checkbox__toggle"
        type="button"
        aria-label="Toggle branch"
      >
        <span class="tree-checkbox__chevron"></span>
      </button>
      <span class="tree-checkbox__box">
        <span class="tree-checkbox__check-mark"></span>
        <span class="tree-checkbox__dash-mark"></span>
      </span>
      <span class="tree-checkbox__label"></span>
      <span class="tree-checkbox__depth-indicator"></span>
    </div>
  </template>
</div>
