<div class="slider slider--material" data-disabled="false">
  <div class="slider__header">
    <span class="slider__eyebrow">Lighting</span>
    <div class="slider__title-row">
      <span class="slider__label">Ambient brightness</span>
      <output class="slider__value">64%</output>
    </div>
  </div>
  <div class="slider__control">
    <div class="slider__track">
      <div class="slider__fill"></div>
    </div>
    <input class="slider__native" type="range" min="0" max="100" step="1" value="64" />
  </div>
  <div class="slider__scale">
    <span class="slider__min-label">0%</span>
    <span class="slider__max-label">100%</span>
  </div>
  <p class="slider__supporting">Tune brightness for focused work.</p>
</div>
