<div class="slider slider--editorial" data-disabled="false">
  <div class="slider__header">
    <span class="slider__eyebrow">Narrative</span>
    <div class="slider__title-row">
      <span class="slider__label">Sound bed intensity</span>
      <output class="slider__value">32%</output>
    </div>
  </div>
  <div class="slider__control">
    <div class="slider__track">
      <div class="slider__fill"></div>
    </div>
    <input class="slider__native" type="range" min="0" max="100" step="1" value="32" />
  </div>
  <div class="slider__scale">
    <span class="slider__min-label">Quiet</span>
    <span class="slider__max-label">Full mix</span>
  </div>
  <p class="slider__supporting">Hold back the soundtrack until the story turns.</p>
</div>
