<div class="split-button" data-open="false">
    <div class="split-button__bar">
        <button class="split-button__action">
            <span class="split-button__action-icon material-symbols-outlined"></span>
            <span class="split-button__action-label"></span>
        </button>
        <button class="split-button__trigger" aria-label="More options">
            <span class="split-button__chevron">▾</span>
        </button>
    </div>
    <div class="split-button__menu"></div>
    <template id="split-button-menu-item-template">
        <button class="split-button__menu-item" data-menuid="" data-selected="">
            <span class="split-button__menu-check">✓</span>
            <span class="split-button__menu-icon material-symbols-outlined"></span>
            <span class="split-button__menu-label"></span>
        </button>
    </template>
</div>
