<div class="split-button-shell split-button-shell--editorial">
  <div class="split-button" data-open="false">
    <button class="split-button__primary" type="button" aria-label="Action">
      <span class="split-button__label">Action</span></button
    ><button class="split-button__toggle" type="button" aria-label="Open menu">
      <span class="split-button__toggle-icon material-symbols-outlined"
        >expand_more</span
      >
    </button>
    <div class="split-button__menu"></div>
    <template id="split-button-item-template"
      ><button class="split-button__menu-item" type="button" data-id="">
        <span class="split-button__menu-label"></span></button
    ></template>
  </div>
</div>
